In [ ]:
# run this cell to download the data only once
pip install yfinance

In [5]:
# import Dependencies
import yfinance as yf
import pandas as pd

In [23]:
top_30_tickers =[
    "PLTR", "TLRY", "TSLA", "LCID", "AAPL", "NIO", 
    "AMD", "AMZN", "RIVN", "F", "BAC", "T",
    "MPW", "NVDA", "AMC", "INTC", "ITUB", "JNJ", 
    "VALE", "SOFI", "MARA", "DDOG", "LYG", "DISH",
    "AAL", "OPEN", "SWN", "PFE", "HPE", "JBLU"
]

In [29]:
# create a dataframe with the top 30 tickers
top_30_df = pd.DataFrame({"Ticker": top_30_tickers})
top_30_df["company"] = "N/A"
top_30_df["address"] = "N/A"
top_30_df["city"] = "N/A"
top_30_df["state"] = "N/A"
top_30_df["zip"] = "N/A"
top_30_df["country"] = "N/A"


# get the company info for each ticker
for index, row in top_30_df.iterrows():

    top_30_df.loc[index, "company"] = yf.Ticker(row["Ticker"]).info['longName']

    top_30_df.loc[index, "address"] = yf.Ticker(row["Ticker"]).info.get('address1', 'N/A')

    top_30_df.loc[index, "city"] = yf.Ticker(row["Ticker"]).info.get('city', 'N/A')

    top_30_df.loc[index, "state"] = yf.Ticker(row["Ticker"]).info.get('state', 'N/A')

    top_30_df.loc[index, "zip"] = yf.Ticker(row["Ticker"]).info.get('zip', 'N/A')

    top_30_df.loc[index, "country"] = yf.Ticker(row["Ticker"]).info.get('country', 'N/A')

top_30_df

,Ticker,company,address,city,state,zip,country
0,PLTR,Palantir Technologies Inc.,1200 17th Street,Denver,CO,80202,United States
1,TLRY,"Tilray Brands, Inc.",265 Talbot Street West,Leamington,ON,N8H 5L4,Canada
2,TSLA,"Tesla, Inc.",1 Tesla Road,Austin,TX,78725,United States
3,LCID,"Lucid Group, Inc.",7373 Gateway Boulevard,Newark,CA,94560,United States
4,AAPL,Apple Inc.,One Apple Park Way,Cupertino,CA,95014,United States
5,NIO,NIO Inc.,Building 20,Shanghai,N/A,201804,China
6,AMD,"Advanced Micro Devices, Inc.",2485 Augustine Drive,Santa Clara,CA,95054,United States
7,AMZN,"Amazon.com, Inc.",410 Terry Avenue North,Seattle,WA,98109-5210,United States
8,RIVN,"Rivian Automotive, Inc.",14600 Myford Road,Irvine,CA,92606,United States
9,F,Ford Motor Company,One American Road,Dearborn,MI,48126-1899,United States
10,BAC,Bank of America Corporation,Bank of America Corporate Center,Charlotte,NC,28255,United States
11,T,AT&T Inc.,208 South Akard Street,Dallas,TX,75202,United States
12,MPW,"Medical Properties Trust, Inc.",1000 Urban Center Drive,Birmingham,AL,35242-2225,United States
13,NVDA,NVIDIA Corporation,2788 San Tomas Expressway,Santa Clara,CA,95051,United States
14,AMC,"AMC Entertainment Holdings, Inc.",One AMC Way,Leawood,KS,66211,United States
15,INTC,Intel Corporation,2200 Mission College Boulevard,Santa Clara,CA,95054-1549,United States
16,ITUB,Itaú Unibanco Holding S.A.,Praça Alfredo Egydio de Souza Aranha,São Paulo,SP,04344-902,Brazil
17,JNJ,Johnson & Johnson,One Johnson & Johnson Plaza,New Brunswick,NJ,08933,United States
18,VALE,Vale S.A.,Praia de Botafogo 186,Rio de Janeiro,RJ,22250-145,Brazil
19,SOFI,"SoFi Technologies, Inc.",234 1st Street,San Francisco,CA,94105,United States
20,MARA,"Marathon Digital Holdings, Inc.",101 NE Third Avenue,Fort Lauderdale,FL,33301,United States
21,DDOG,"Datadog, Inc.",620 8th Avenue,New York,NY,10018,United States
22,LYG,Lloyds Banking Group plc,25 Gresham Street,London,N/A,EC2V 7HN,United Kingdom
23,DISH,DISH Network Corporation,9601 South Meridian Boulevard,Englewood,CO,80112,United States
24,AAL,American Airlines Group Inc.,1 Skyview Drive,Fort Worth,TX,76155,United States
25,OPEN,Opendoor Technologies Inc.,410 North Scottsdale Road,Tempe,AZ,85281,United States
26,SWN,Southwestern Energy Company,10000 Energy Drive,Spring,TX,77389,United States
27,PFE,Pfizer Inc.,66 Hudson Boulevard East,New York,NY,10001-2192,United States
28,HPE,Hewlett Packard Enterprise Company,1701 East Mossy Oaks Road,Spring,TX,77389,United States
29,JBLU,JetBlue Airways Corporation,27-01 Queens Plaza North,Long Island City,NY,11101,United States

In [79]:
average_manager_age = []

for ticker in top_30_tickers:
    company_officers = yf.Ticker(ticker).info['companyOfficers']

    age_sum = 0
    age_len = len(company_officers)

    for officer in company_officers:
        # Check if 'age' key exists for the current officer
        if 'age' in officer:
            age_sum += officer['age']
        else:
            age_len -= 1

    # If none of the officers have an 'age' key, this will prevent division by zero
    if age_len == 0:
        avg_age = 0
    else:
        avg_age = int(round(age_sum / age_len, 0))
        average_manager_age.append(avg_age)

top_30_df['Average Manager Age'] = average_manager_age

top_30_df

,Ticker,company,address,city,state,zip,country,Average Manager Age
0,PLTR,Palantir Technologies Inc.,1200 17th Street,Denver,CO,80202,United States,46
1,TLRY,"Tilray Brands, Inc.",265 Talbot Street West,Leamington,ON,N8H 5L4,Canada,55
2,TSLA,"Tesla, Inc.",1 Tesla Road,Austin,TX,78725,United States,43
3,LCID,"Lucid Group, Inc.",7373 Gateway Boulevard,Newark,CA,94560,United States,53
4,AAPL,Apple Inc.,One Apple Park Way,Cupertino,CA,95014,United States,58
5,NIO,NIO Inc.,Building 20,Shanghai,N/A,201804,China,50
6,AMD,"Advanced Micro Devices, Inc.",2485 Augustine Drive,Santa Clara,CA,95054,United States,57
7,AMZN,"Amazon.com, Inc.",410 Terry Avenue North,Seattle,WA,98109-5210,United States,56
8,RIVN,"Rivian Automotive, Inc.",14600 Myford Road,Irvine,CA,92606,United States,47
9,F,Ford Motor Company,One American Road,Dearborn,MI,48126-1899,United States,57
10,BAC,Bank of America Corporation,Bank of America Corporate Center,Charlotte,NC,28255,United States,55
11,T,AT&T Inc.,208 South Akard Street,Dallas,TX,75202,United States,54
12,MPW,"Medical Properties Trust, Inc.",1000 Urban Center Drive,Birmingham,AL,35242-2225,United States,58
13,NVDA,NVIDIA Corporation,2788 San Tomas Expressway,Santa Clara,CA,95051,United States,60
14,AMC,"AMC Entertainment Holdings, Inc.",One AMC Way,Leawood,KS,66211,United States,55
15,INTC,Intel Corporation,2200 Mission College Boulevard,Santa Clara,CA,95054-1549,United States,55
16,ITUB,Itaú Unibanco Holding S.A.,Praça Alfredo Egydio de Souza Aranha,São Paulo,SP,04344-902,Brazil,48
17,JNJ,Johnson & Johnson,One Johnson & Johnson Plaza,New Brunswick,NJ,08933,United States,56
18,VALE,Vale S.A.,Praia de Botafogo 186,Rio de Janeiro,RJ,22250-145,Brazil,53
19,SOFI,"SoFi Technologies, Inc.",234 1st Street,San Francisco,CA,94105,United States,51
20,MARA,"Marathon Digital Holdings, Inc.",101 NE Third Avenue,Fort Lauderdale,FL,33301,United States,51
21,DDOG,"Datadog, Inc.",620 8th Avenue,New York,NY,10018,United States,48
22,LYG,Lloyds Banking Group plc,25 Gresham Street,London,N/A,EC2V 7HN,United Kingdom,55
23,DISH,DISH Network Corporation,9601 South Meridian Boulevard,Englewood,CO,80112,United States,58
24,AAL,American Airlines Group Inc.,1 Skyview Drive,Fort Worth,TX,76155,United States,55
25,OPEN,Opendoor Technologies Inc.,410 North Scottsdale Road,Tempe,AZ,85281,United States,45
26,SWN,Southwestern Energy Company,10000 Energy Drive,Spring,TX,77389,United States,51
27,PFE,Pfizer Inc.,66 Hudson Boulevard East,New York,NY,10001-2192,United States,58
28,HPE,Hewlett Packard Enterprise Company,1701 East Mossy Oaks Road,Spring,TX,77389,United States,56
29,JBLU,JetBlue Airways Corporation,27-01 Queens Plaza North,Long Island City,NY,11101,United States,46

In [43]:
yf.Ticker("AAPL").info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 164000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 61,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 16425933,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 59,
   'title': 'CFO & Sr. VP',
   'yearBorn': 1963,
   'fiscalYear': 2022,
   'totalPay': 5019783,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 58,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 5018337,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 58,
   'title': 'Sr. VP, Gen. Counsel & Sec.',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 5015208,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 55,
   'title': 'Sr. VP of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 5019783,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Sr. Director of Corp. Accounting',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Mary  Demby',
   'title': 'Chief Information Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Nancy  Paxton',
   'title': 'Sr. Director of Investor Relations & Treasury',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Sr. VP of Worldwide Marketing',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 1,
 'compensationRisk': 5,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1690848000,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 178.85,
 'open': 179.69,
 'dayLow': 177.58,
 'dayHigh': 180.27,
 'regularMarketPreviousClose': 178.85,
 'regularMarketOpen': 179.69,
 'regularMarketDayLow': 177.58,
 'regularMarketDayHigh': 180.27,
 'dividendRate': 0.96,
 'dividendYield': 0.0053,
 'exDividendDate': 1683849600,
 'payoutRatio': 0.156,
 'fiveYearAvgDividendYield': 0.87,
 'beta': 1.286802,
 'trailingPE': 30.526318,
 'forwardPE': 30.06689,
 'volume': 67690988,
 'regularMarketVolume': 67690988,
 'averageVolume': 56642391,
 'averageVolume10days': 57938530,
 'averageDailyVolume10Day': 57938530,
 'bid': 179.72,
 'ask': 179.79,
 'bidSize': 1800,
 'askSize': 1200,
 'marketCap': 2828020482048,
 'fiftyTwoWeekLow': 124.17,
 'fiftyTwoWeekHigh': 198.23,
 'priceToSalesTrailing12Months': 7.365922,
 'fiftyDayAverage': 187.227,
 'twoHundredDayAverage': 160.1889,
 'trailingAnnualDividendRate': 0.93,
 'trailingAnnualDividendYield': 0.0051998883,
 'currency': 'USD',
 'enterpriseValue': 2892071960576,
 'profitMargins': 0.24681,
 'floatShares': 15617347029,
 'sharesOutstanding': 15728700416,
 'sharesShort': 126626604,
 'sharesShortPriorMonth': 121254451,
 'sharesShortPreviousMonthDate': 1686787200,
 'dateShortInterest': 1689292800,
 'sharesPercentSharesOut': 0.0081,
 'heldPercentInsiders': 0.00071999995,
 'heldPercentInstitutions': 0.61317,
 'shortRatio': 2.35,
 'shortPercentOfFloat': 0.0081,
 'impliedSharesOutstanding': 15728700416,
 'bookValue': 3.852,
 'priceToBook': 46.67705,
 'lastFiscalYearEnd': 1663977600,
 'nextFiscalYearEnd': 1695513600,
 'mostRecentQuarter': 1688169600,
 'earningsQuarterlyGrowth': 0.023,
 'netIncomeToCommon': 94760001536,
 'trailingEps': 5.89,
 'forwardEps': 5.98,
 'pegRatio': 5.63,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 7.533,
 'enterpriseToEbitda': 23.331,
 '52WeekChange': 0.084465146,
 'SandP52WeekChange': 0.09605169,
 'lastDividendValue': 0.24,
 'lastDividendDate': 1683849600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 179.8,
 'targetHighPrice': 218.13,
 'targetLowPrice': 135.42,
 'targetMeanPrice': 182.85,
 'targetMedianPrice': 182.68,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 40,
 'totalCash': 62482001920,
 'totalCashPerShare': 3.996,
 'ebitda': 123957002240,
 'totalDebt': 109280002048,
 'quickRatio': 0.814,
 'currentRatio': 0.982,
 'totalRevenue': 383932989440,
 'debtToEquity': 181.305,
 'revenuePerShare': 24.22,
 'returnOnAssets': 0.20896,
 'returnOnEquity': 1.60093,
 'grossProfits': 170782000000,
 'freeCashflow': 90680500224,
 'operatingCashflow': 113071996928,
 'earningsGrowth': 0.05,
 'revenueGrowth': -0.014,
 'grossMargins': 0.43449003,
 'ebitdaMargins': 0.32286,
 'operatingMargins': 0.29231,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2936}

In [53]:
top_30_stock_info = pd.DataFrame()

In [66]:
data = yf.Ticker("AAPL").history(start="2018-01-01", end="2023-06-30")

# Resample the data to a quarterly frequency, taking the last day's data for each quarter
quarterly_data = data.resample('Q').last()

# Sort data in descending order
data_sorted = quarterly_data.sort_index(ascending=False)

top_30_stock_info["Date"] = data_sorted.index

top_30_stock_info.set_index("Date", inplace=True)

top_30_stock_info["AAPL Price"] = data_sorted["Close"]

for ticker in top_30_tickers:
    if ticker != "AAPL":
        data = yf.Ticker(ticker).history(start="2018-01-01", end="2023-06-30")
        quarterly_data = data.resample('Q').last()
        data_sorted = quarterly_data.sort_index(ascending=False)
        top_30_stock_info[ticker + " Price"] = data_sorted["Close"]

top_30_stock_info.head()

,AAPL Price,PLTR Price,TLRY Price,TSLA Price,LCID Price,NIO Price,AMD Price,AMZN Price,RIVN Price,F Price,...,MARA Price,DDOG Price,LYG Price,DISH Price,AAL Price,OPEN Price,SWN Price,PFE Price,HPE Price,JBLU Price
Date,,,,,,,,,,,,,,,,,,,,,
2023-06-30 00:00:00-04:00,189.589996,15.20,1.61,257.500000,6.88,9.390000,111.239998,127.900002,16.01,14.789017,...,13.82,96.449997,2.083527,6.69,17.60,4.08,5.92,35.722012,16.650000,8.76
2023-03-31 00:00:00-04:00,164.672226,8.45,2.53,207.460007,8.04,10.510000,98.010002,103.290001,15.48,12.310568,...,8.72,72.660004,2.196836,9.33,14.75,1.76,5.00,39.918495,15.815120,7.28
2022-12-31 00:00:00-05:00,129.552719,6.42,2.69,123.180000,6.83,9.750000,64.769997,84.000000,18.43,10.688996,...,3.42,73.500000,2.083206,14.04,12.72,1.16,5.85,49.676876,15.708212,6.48
2022-09-30 00:00:00-04:00,137.570480,8.13,2.75,265.250000,13.97,15.770000,63.360001,113.000000,32.91,10.187301,...,10.71,88.779999,1.694973,13.83,12.04,3.11,6.12,42.064533,11.704515,6.63
2022-06-30 00:00:00-04:00,135.908463,9.07,3.12,224.473328,17.16,21.719999,76.470001,106.209999,25.74,10.023660,...,5.34,95.239998,1.897457,17.93,12.68,4.71,6.25,50.010563,12.838717,8.37

In [71]:
top_30_volume = pd.DataFrame()

data = yf.Ticker("AAPL").history(start="2018-01-01", end="2023-06-30")

# Resample the data to a quarterly frequency, taking the last day's data for each quarter
quarterly_data = data.resample('Q').last()

# Sort data in descending order
data_sorted = quarterly_data.sort_index(ascending=False)

top_30_volume["Date"] = data_sorted.index

top_30_volume.set_index("Date", inplace=True)

top_30_volume["AAPL Volume"] = data_sorted["Volume"]

for ticker in top_30_tickers:
    if ticker != "AAPL":
        data = yf.Ticker(ticker).history(start="2018-01-01", end="2023-06-30")
        quarterly_data = data.resample('Q').last()
        data_sorted = quarterly_data.sort_index(ascending=False)
        top_30_volume[ticker + " Volume"] = data_sorted["Volume"]

top_30_volume.head()

,AAPL Volume,PLTR Volume,TLRY Volume,TSLA Volume,LCID Volume,NIO Volume,AMD Volume,AMZN Volume,RIVN Volume,F Volume,...,MARA Volume,DDOG Volume,LYG Volume,DISH Volume,AAL Volume,OPEN Volume,SWN Volume,PFE Volume,HPE Volume,JBLU Volume
Date,,,,,,,,,,,,,,,,,,,,,
2023-06-30 00:00:00-04:00,46347300,46300900.0,12202900.0,131283400,72430500.0,38589900.0,58347200,40761000,48833700.0,58488600,...,50628000,2717400.0,4042600,9290800,20315700,38306500.0,25487700,26284900,8779800,10709400
2023-03-31 00:00:00-04:00,68749800,26174800.0,6631600.0,170222100,19553600.0,35906300.0,55861100,56750300,38244700.0,66868200,...,36159700,6681500.0,5849100,6515700,12348700,22883800.0,16145100,23393600,15543500,6071500
2022-12-31 00:00:00-05:00,77034200,27830900.0,12088000.0,157777300,22489800.0,40863800.0,37127000,62401200,17181800.0,39232200,...,9615000,2186700.0,4014100,2984300,19002800,21507400.0,13152300,11396200,9396400,7481100
2022-09-30 00:00:00-04:00,124925300,47454800.0,11862200.0,67726600,12259300.0,39341300.0,81664100,59479600,12381000.0,71688200,...,20135100,4006100.0,22843200,4709200,30111400,11036300.0,30628900,22962300,13870500,13191800
2022-06-30 00:00:00-04:00,98964500,33636400.0,23981700.0,94600500,13188800.0,53074100.0,105368600,97679400,11633000.0,59238200,...,10706100,4417300.0,11398500,3417700,37521400,10892200.0,63826300,33495700,13551500,11031000

In [122]:
income_df = pd.DataFrame({
    'Quarter': ['2023-06-30', '2023-03-31', '2022-12-31', '2022-09-30', '2022-06-30']
})

income_df.set_index('Quarter', inplace=True)

for ticker in top_30_tickers:
    income_df[ticker + " Total Revenue"] = yf.Ticker(ticker).quarterly_income_stmt.loc["Total Revenue"]

income_df.loc['2023-06-30', 'TLRY Total Revenue'] = 184188000.0
income_df.loc['2023-03-31', 'TLRY Total Revenue'] = 145589000.0
income_df.loc['2022-12-31', 'TLRY Total Revenue'] = 144136000.0
income_df.loc['2022-09-30', 'TLRY Total Revenue'] = 153211000.0
income_df.loc['2022-06-30', 'TLRY Total Revenue'] = 153325000.0

income_df.loc['2023-06-30', 'HPE Total Revenue'] = 6973000000.0
income_df.loc['2023-03-31', 'HPE Total Revenue'] = 7809000000.0
income_df.loc['2022-12-31', 'HPE Total Revenue'] = 7871000000.0
income_df.loc['2022-09-30', 'HPE Total Revenue'] = 6951000000.0

In [115]:
yf.Ticker('HPE').quarterly_income_stmt

,2023-04-30,2023-01-31,2022-10-31,2022-07-31
Tax Effect Of Unusual Items,-16337164.750958,-22324237.560193,-160633053.221289,-14105603.448276
Tax Rate For Calcs,0.199234,0.195827,0.148459,0.118534
Normalized EBITDA,1341000000.0,1418000000.0,2423000000.0,1294000000.0
Total Unusual Items,-82000000.0,-114000000.0,-1082000000.0,-119000000.0
Total Unusual Items Excluding Goodwill,-82000000.0,-114000000.0,-1082000000.0,-119000000.0
Net Income From Continuing Operation Net Minority Interest,418000000.0,501000000.0,-304000000.0,409000000.0
Reconciled Depreciation,651000000.0,656000000.0,618000000.0,620000000.0
Reconciled Cost Of Revenue,3881000000.0,4568000000.0,4733000000.0,4008000000.0
EBIT,608000000.0,648000000.0,723000000.0,555000000.0
Net Interest Income,-54000000.0,-25000000.0,-109000000.0,-74000000.0
Interest Expense,NaN,25000000.0,109000000.0,74000000.0
Normalized Income,483662835.249042,592675762.439807,617366946.778711,513894396.551724
Net Income From Continuing And Discontinued Operation,418000000.0,501000000.0,-304000000.0,409000000.0
Total Expenses,6365000000.0,7105000000.0,7148000000.0,6396000000.0
Total Operating Income As Reported,520000000.0,591000000.0,-339000000.0,466000000.0
Diluted Average Shares,1318000000.0,1315000000.0,1296000000.0,1323000000.0
Basic Average Shares,1304000000.0,1298000000.0,1296000000.0,1305000000.0
Diluted EPS,0.32,0.38,-0.23,0.31
Basic EPS,0.32,0.39,-0.23,0.31
Diluted NI Availto Com Stockholders,418000000.0,501000000.0,-304000000.0,409000000.0
Net Income Common Stockholders,418000000.0,501000000.0,-304000000.0,409000000.0
Net Income,418000000.0,501000000.0,-304000000.0,409000000.0
Net Income Including Noncontrolling Interests,418000000.0,501000000.0,-304000000.0,409000000.0
Net Income Continuous Operations,418000000.0,501000000.0,-304000000.0,409000000.0
Tax Provision,104000000.0,122000000.0,-53000000.0,55000000.0
Pretax Income,522000000.0,623000000.0,-357000000.0,464000000.0
Other Income Expense,-32000000.0,-56000000.0,-971000000.0,-17000000.0
Other Non Operating Income Expenses,1000000.0,NaN,28000000.0,34000000.0
Special Income Charges,-82000000.0,-114000000.0,-1082000000.0,-119000000.0
Other Special Charges,3000000.0,1000000.0,-1000000.0,30000000.0
Impairment Of Capital Assets,NaN,0.0,905000000.0,NaN
Restructuring And Mergern Acquisition,79000000.0,113000000.0,178000000.0,89000000.0
Earnings From Equity Interest,49000000.0,58000000.0,83000000.0,68000000.0
Net Non Operating Interest Income Expense,-54000000.0,-25000000.0,-109000000.0,-74000000.0
Total Other Finance Cost,54000000.0,NaN,109000000.0,74000000.0
Interest Expense Non Operating,NaN,25000000.0,109000000.0,74000000.0
Operating Income,608000000.0,704000000.0,723000000.0,555000000.0
Operating Expense,1904000000.0,1954000000.0,1870000000.0,1841000000.0
Other Taxes,-6000000.0,1000000.0,20000000.0,30000000.0
Depreciation Amortization Depletion Income Statement,71000000.0,73000000.0,73000000.0,73000000.0
Depreciation And Amortization In Income Statement,71000000.0,73000000.0,73000000.0,73000000.0
Amortization,71000000.0,73000000.0,73000000.0,73000000.0
Amortization Of Intangibles Income Statement,71000000.0,73000000.0,73000000.0,73000000.0
Research And Development,570000000.0,623000000.0,515000000.0,509000000.0
Selling General And Administration,1269000000.0,1257000000.0,1262000000.0,1229000000.0
Gross Profit,2512000000.0,2658000000.0,2593000000.0,2396000000.0
Cost Of Revenue,4461000000.0,5151000000.0,5278000000.0,4555000000.0
Total Revenue,6973000000.0,7809000000.0,7871000000.0,6951000000.0
Operating Revenue,6973000000.0,7809000000.0,7871000000.0,6951000000.0